

<!--<div class="survey-container">-->
<!--    <div class="card-title">-->
<!--&lt;!&ndash;      <h2>Active Surveys</h2>&ndash;&gt;-->
<!--      <p>{{ active_leads.count }}</p>-->
<!--    </div>-->

<!--    <div class="card-title">-->
<!--&lt;!&ndash;      <h2>Deleted Surveys</h2>&ndash;&gt;-->
<!--      <p>{{ dead_leads.count }}</p>-->
<!--    </div>-->

<!--    <div class="card-title">-->
<!--&lt;!&ndash;      <h2>Completed Surveys</h2>&ndash;&gt;-->
<!--      <p>{{ total_leads.count }}</p>-->
<!--    </div>-->
<!--  </div>-->

<!--<div class = "row">-->
<!--    <div class="col">-->
<!--        <div class="col-md">-->
<!--            <div class="card text-center text-white mb-3" id="active-leads">-->
<!--                <div class="card-header">-->
<!--                    <h5 class="card-title"> Active Leads </h5>-->
<!--                    <b><em> Active Leads: {{message | length }}</em></b>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h3 class="card-title"> </h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col">-->
<!--        <div class="col-md">-->
<!--            <div class="card text-center text-white mb-3" id="dead-leads">-->
<!--                <div class="card-header">-->
<!--                    <h5 class="card-title"> Dead Leads </h5>-->
<!--                    <b><em> Dead Leads: {{message | length }}</em></b>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h3 class="card-title"> </h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col">-->
<!--        <div class="col-md">-->
<!--            <div class="card text-center text-white mb-3" id="total-leads">-->
<!--                <div class="card-header">-->
<!--                    <h5 class="card-title"> Total Leads </h5>-->
<!--                    <b><em> Total: {{count}}</em></b>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h3 class="card-title"> </h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<style>-->
<!--    .card-title{-->
<!--    color: blue;-->
<!--    background-color: yellow;-->
<!--    }-->
<!--</style>-->